# <font color="purple"><h3 align="center">Dataframe and mysql database tutorial</h3></font>

In [8]:
import pandas as pd
import sqlalchemy
import pymysql
from sqlalchemy import create_engine

In [9]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:@localhost:3306/application')

Format of connection string is:

mysql+pymysql://username:password@host:port/database_name

Format of connection string for other databases

https://pandas.pydata.org/pandas-docs/stable/io.html#engine-connection-examples

<img src="conn_string_format.JPG"/>

<h3 style="color:purple">Read entire table in a dataframe using <span style="color:blue">read_sql_table</span></h3>

In [10]:
df = pd.read_sql_table('customers',engine)
df

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: NO)")
(Background on this error at: http://sqlalche.me/e/e3q8)

**Read only selected columns**

In [24]:
df = pd.read_sql_table('customers', engine, columns=["name"])
df

     name
0  Donald
1    Bill
2    Modi

<h3 style="color:purple">Join two tables and read them in a dataframe using <span style="color:blue">read_sql_query</span></h3>

In [15]:
df = pd.read_sql_query("select id,name from customers",engine)
df

   id    name
0   1  Donald
1   2    Bill
2   3    Modi

In [18]:
query = '''
 SELECT customers.name, customers.phone_number, orders.name, orders.amount
 FROM customers INNER JOIN orders
 ON customers.id=orders.customer_id
'''
df = pd.read_sql_query(query,engine)
df

     name phone_number          name  amount
0  Donald   7326784567  Google Pixel   950.0
1    Bill   6573489999      Yoga Mat    20.0
2    Modi   4567895646  Fossil Watch   120.0

<h3 style="color:purple"><span style="color:blue">read_sql</span> is a wrapper around read_sql_query and read_sql_table</h3>

In [25]:
query = '''
 SELECT customers.name, customers.phone_number, orders.name, orders.amount
 FROM customers INNER JOIN orders
 ON customers.id=orders.customer_id
'''
pd.read_sql(query,engine)

     name phone_number          name  amount
0    Bill   6573489999      Yoga Mat    20.0
1  Donald   7326784567  Google Pixel   950.0
2    Modi   4567895646  Fossil Watch   120.0

In [26]:
pd.read_sql("customers",engine)

   id             name phone_number
0   1           Donald   7326784567
1   2             Bill   6573489999
2   3             Modi   4567895646
3  10     rafael nadal   4567895647
4  11  maria sharapova    434534545
5  12   vladimir putin     89345345
6  13      kim un jong    123434456
7  14       jeff bezos    934534543
8  15     rahul gandhi     44324222

<h3 style="color:purple">Write to mysql database using <span style="color:blue">to_sql</span></h3>

In [20]:
df = pd.read_csv("customers.csv")
df

     Customer Name  Customer Phone
0     rafael nadal      4567895647
1  maria sharapova       434534545
2   vladimir putin        89345345
3      kim un jong       123434456
4       jeff bezos       934534543
5     rahul gandhi        44324222

In [21]:
df.rename(columns={
    'Customer Name': 'name',
    'Customer Phone': 'phone_number'
}, inplace=True)
df

              name  phone_number
0     rafael nadal    4567895647
1  maria sharapova     434534545
2   vladimir putin      89345345
3      kim un jong     123434456
4       jeff bezos     934534543
5     rahul gandhi      44324222

In [22]:
df.to_sql(
    name='customers', # database table name
    con=engine,
    if_exists='append',
    index=False
)

**to_sql has different parameters such as chunksize which allows to write data in chunks. This is useful when 
size of dataframe is huge**